.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 588px;
  background-color: rgba(255, 120, 120, 0.13);
  margin-bottom: 20px;
}

.header {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #000;
  margin: 30px auto 64px auto;
  padding: 0 auto;
}

.menu__list {
  display: flex;
  // flex-direction: row;
  // gap: 10px;
}

.menu__item {
  // height: 90px;
  padding: 0 30px;
}

.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.menu__link_active {
  background-color: #f30;
  margin: auto 0;
}